body{
width:1140px;
background-image:url(../images/timg.jpg);
background-repeat:no-repeat;
background-size:1263px;
margin:0 auto;
}

/*===========以下 loginbar==============*/

.loginbar{
background-color:rgba(249,252,236,0.5);
}
.loginbar_part1
{
display:inline;
margin-left:80px;
width:300px;
float: left;
}
  .loginbar_part1 a,.loginbar_part2 a
{   
  display:inline-block;
  font-weight:bold;
  color:#FFFFFF;
  text-align:center;
  text-decoration:none;
    width:100px;
    margin-left:30px;
   line-height:40px;
}

.loginbar_part1 a:hover,.loginbar_part2 a:hover{  background-color:rgba(209,223,27,0.5);
         transition:background-color 0.6s ease;
    }

.loginbar_part2 img
{
 width:20px; 
 height:20px;
  border-radius: 5px 5px 5px 5px;
  position: relative;
  top: 5px;
  border:0px;
}

.loginbar_part2
{
display:inline;
margin-left:350px;
 width:300px;
 float: left;
}





/*===========以上 loginbar==============*/


/*===========以下 search ==============*/

.picture{
width:200px;
height:100px;
margin:20 40 0 0;
float:left;
}
.search_area{
width:400px;
height:40px;
margin:84 40 0 0;
float:right;
}
.select
{ 
    width:66px; 
    height:30px;
    border-radius: 8px 8px 8px 8px;
    padding-right: 14px;
 appearance: none;
-webkit-appearance: none;
-moz-appearance: none;
 background: url(../images/arrowdown.png) no-repeat right white;
 background-size: 40%;
}
select::-ms-expand { display: none; }
.form{display:inline;}





/*===========以上 search==============*/





/*============以下 nav=============*/


.menu_beckground{
width:1140px;
height:40px;
background-color:rgba(255,255,255,0.5);
margin:10 0 0 0;
padding:0;
float:left;

}
.menubar{
 margin-left: 50px;
 position: absolute;
 z-index: 1;
}
.menubar-btn{
  display:block;
    float:left;
  width: 100px;
  position: relative;
  bottom:17px;
  }
.menubar-btn:hover .submenu {
  display: block;
}
.menubar-btn:hover .submenu2{
    display: block;
}
.menubar-btn a
{
  font-size:large;
  font-weight:bold;
  text-decoration: none;
  text-align:center;
  float: left;
  width: 100%;
  line-height:40px;
  color:#444444;
  }
.menubar-btn a:hover
{
   background-color:rgba(246,250,176,0.9);
  transition:background-color 0.6s ease;
}
.submenu, .submenu2{
  display: none;
  position: absolute;
  background-color:rgba(113,171,242,0.9);
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 0px 0px;
  margin-top: 40px;
  text-decoration: none;
  border-radius: 10px 10px 10px 10px;
}
.submenu_li{
   list-style-type: none;
 }



/*============以上 nav=============*/


/*============content=============*/

.content_background
{
width:1080px;
background-color:rgba(249,249,250,0.9);
margin:200 40 120 30;
 border-radius: 10px 10px 10px 10px;
}
.content_background ul li
{
  list-style-type:none;
}
.content_top_warpper{
   width:97%;
   margin-left: 15px;
   margin-top:12px;
    float:left;
}
.content_top{
 width:1040px;
 height: 260px;
margin-left:7px;
}


/*============content=============*/


/*=============分页===============*/
.pagination_container{width:670px; height:100px; float:left; margin-left: 50px;}
.page_text{}
.page_text li {display: inline;}
.pagination li{ display: inline-block; padding: 0; margin: 0;}
.pagination li a{ color: black; padding: 8px 16px; text-decoration: none; border-radius: 5px;}
.pagination li a:hover{background-color:#ADC672}





/*===========以下 media query==============*/
/*===========以下 media query==============*/
/*===========以下 media query==============*/






@media screen and (max-width:700px)
{
body{
width:320px;
background-image:url(../images/timg.jpg);
background-repeat:no-repeat;
background-size:100%;
margin:0 auto;
overflow-x:hidden;
}

/*===========以下 loginbar==============*/

.loginbar{
background-color:rgba(249,252,236,0.0);
}
.loginbar_part1
{
display:inline;
margin:0px;
padding:0px;
}
.loginbar_part2
{
display:inline;
margin:0px;
padding:0px;
}

/*===========以下 search ==============*/
.picture{margin: 0;padding-left: 60px;
}
.picture img{
margin:0;
}
.search_area{
width:400px;
height:40px;
margin-top: 20px;
padding:0px;
float:left;
}

/*============以下 nav=============*/

.menubar{
 margin: 0px;
 padding: 0px;
}
.menubar-btn{
  width: 140%;
  }

.submenu, .submenu2{
    margin-top: 0px;
    margin-left: 185px;
}

/*============content=============*/

.content_background
{
width:100%;
margin:400 0 120 0px;
}

.content_top_warpper{
width:97%;
margin:0px;
padding:0px;
float:left;
}
.content_top{
width: 100%;
margin:0px;
padding:0px;
}





/*============content=============*/


/*=============分页===============*/
.pagination_container{margin-left: 0px;}
.pagination li a{ padding: 2px 2px;}
.pagination{padding: 10px}









}